In [4]:
import pandas as pd
from matplotlib import pyplot as plt

data = pd.read_csv('nyc-rolling-sales.csv')
data.head(5)

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      84548 non-null  int64
 1   BOROUGH                         84548 non-null  int64
 2   NEIGHBORHOOD                    84548 non-null  object
 3   BUILDING CLASS CATEGORY         84548 non-null  object
 4   TAX CLASS AT PRESENT            84548 non-null  object
 5   BLOCK                           84548 non-null  int64
 6   LOT                             84548 non-null  int64
 7   EASE-MENT                       84548 non-null  object
 8   BUILDING CLASS AT PRESENT       84548 non-null  object
 9   ADDRESS                         84548 non-null  object
 10  APARTMENT NUMBER                84548 non-null  object
 11  ZIP CODE                        84548 non-null  int64
 12  RESIDENTIAL UNITS               84548 non-null  int64
 13  COMMERCIAL UNITS                84548 non-null  int64
 14  TOTAL UNITS                     84548 non-null  int64
 15  LAND SQUARE FEET                84548 non-null  object
 16  GROSS SQUARE FEET               84548 non-null  object
 17  YEAR BUILT                      84548 non-null  int64
 18  TAX CLASS AT TIME OF SALE       84548 non-null  int64
 19  BUILDING CLASS AT TIME OF SALE  84548 non-null  object
 20  SALE PRICE                      84548 non-null  object
 21  SALE DATE                       84548 non-null  object
dtypes: int64(10), object(12)
memory usage: 14.2+ MB

In [6]:
data.convert_dtypes().dtypes

Unnamed: 0                         Int64
BOROUGH                            Int64
NEIGHBORHOOD                      string
BUILDING CLASS CATEGORY           string
TAX CLASS AT PRESENT              string
BLOCK                              Int64
LOT                                Int64
EASE-MENT                         string
BUILDING CLASS AT PRESENT         string
ADDRESS                           string
APARTMENT NUMBER                  string
ZIP CODE                           Int64
RESIDENTIAL UNITS                  Int64
COMMERCIAL UNITS                   Int64
TOTAL UNITS                        Int64
LAND SQUARE FEET                  string
GROSS SQUARE FEET                 string
YEAR BUILT                         Int64
TAX CLASS AT TIME OF SALE          Int64
BUILDING CLASS AT TIME OF SALE    string
SALE PRICE                        string
SALE DATE                         string
dtype: object

In [7]:
data['SALE PRICE'] = data['SALE PRICE'].replace({" -  ": None})

In [8]:
data.head(5)

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,None,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,None,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

In [9]:
print("Total number of null registers:", (data['SALE PRICE'].isna().sum()))
print("% of null registers: {:.2f}".format((data['SALE PRICE'].isna().sum()/data.shape[0])*100))

registers_orig = data.shape[0]

Total number of null registers: 14561
% of null registers: 17.22

In [10]:
# drop the null values

clean_data = data.dropna(axis=0, how='any', subset='SALE PRICE')

In [11]:
clean_data.convert_dtypes().dtypes

Unnamed: 0                         Int64
BOROUGH                            Int64
NEIGHBORHOOD                      string
BUILDING CLASS CATEGORY           string
TAX CLASS AT PRESENT              string
BLOCK                              Int64
LOT                                Int64
EASE-MENT                         string
BUILDING CLASS AT PRESENT         string
ADDRESS                           string
APARTMENT NUMBER                  string
ZIP CODE                           Int64
RESIDENTIAL UNITS                  Int64
COMMERCIAL UNITS                   Int64
TOTAL UNITS                        Int64
LAND SQUARE FEET                  string
GROSS SQUARE FEET                 string
YEAR BUILT                         Int64
TAX CLASS AT TIME OF SALE          Int64
BUILDING CLASS AT TIME OF SALE    string
SALE PRICE                        string
SALE DATE                         string
dtype: object

In [12]:
clean_data['SALE PRICE'] = clean_data['SALE PRICE'].astype('int64')

/var/folders/0p/jxmy09910dvd37j3qv0_1df80000gn/T/ipykernel_6060/2680128913.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['SALE PRICE'] = clean_data['SALE PRICE'].astype('int64')

In [13]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69987 entries, 0 to 84547
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      69987 non-null  int64
 1   BOROUGH                         69987 non-null  int64
 2   NEIGHBORHOOD                    69987 non-null  object
 3   BUILDING CLASS CATEGORY         69987 non-null  object
 4   TAX CLASS AT PRESENT            69987 non-null  object
 5   BLOCK                           69987 non-null  int64
 6   LOT                             69987 non-null  int64
 7   EASE-MENT                       69987 non-null  object
 8   BUILDING CLASS AT PRESENT       69987 non-null  object
 9   ADDRESS                         69987 non-null  object
 10  APARTMENT NUMBER                69987 non-null  object
 11  ZIP CODE                        69987 non-null  int64
 12  RESIDENTIAL UNITS               69987 non-null  int64
 13  COMMERCIAL UNITS                69987 non-null  int64
 14  TOTAL UNITS                     69987 non-null  int64
 15  LAND SQUARE FEET                69987 non-null  object
 16  GROSS SQUARE FEET               69987 non-null  object
 17  YEAR BUILT                      69987 non-null  int64
 18  TAX CLASS AT TIME OF SALE       69987 non-null  int64
 19  BUILDING CLASS AT TIME OF SALE  69987 non-null  object
 20  SALE PRICE                      69987 non-null  int64
 21  SALE DATE                       69987 non-null  object
dtypes: int64(11), object(11)
memory usage: 12.3+ MB

In [14]:
clean_data.head()

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00
6,10,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,,C4,210 AVENUE B,...,8,0,8,1750,4226,1920,2,C4,3192840,2016-09-23 00:00:00
9,13,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,,D9,629 EAST 5TH STREET,...,24,0,24,4489,18523,1920,2,D9,16232000,2016-11-07 00:00:00

In [15]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69987 entries, 0 to 84547
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      69987 non-null  int64
 1   BOROUGH                         69987 non-null  int64
 2   NEIGHBORHOOD                    69987 non-null  object
 3   BUILDING CLASS CATEGORY         69987 non-null  object
 4   TAX CLASS AT PRESENT            69987 non-null  object
 5   BLOCK                           69987 non-null  int64
 6   LOT                             69987 non-null  int64
 7   EASE-MENT                       69987 non-null  object
 8   BUILDING CLASS AT PRESENT       69987 non-null  object
 9   ADDRESS                         69987 non-null  object
 10  APARTMENT NUMBER                69987 non-null  object
 11  ZIP CODE                        69987 non-null  int64
 12  RESIDENTIAL UNITS               69987 non-null  int64
 13  COMMERCIAL UNITS                69987 non-null  int64
 14  TOTAL UNITS                     69987 non-null  int64
 15  LAND SQUARE FEET                69987 non-null  object
 16  GROSS SQUARE FEET               69987 non-null  object
 17  YEAR BUILT                      69987 non-null  int64
 18  TAX CLASS AT TIME OF SALE       69987 non-null  int64
 19  BUILDING CLASS AT TIME OF SALE  69987 non-null  object
 20  SALE PRICE                      69987 non-null  int64
 21  SALE DATE                       69987 non-null  object
dtypes: int64(11), object(11)
memory usage: 12.3+ MB

In [16]:
reg_under_10 = len(clean_data[(clean_data['SALE PRICE']<10000)])
reg_under_100 = len(clean_data[(clean_data['SALE PRICE']<100000)])
total_reg = clean_data.shape[0]

print("Total registers below $10k: {:,}".format(reg_under_10))
print("% of registers below $10k considering the clean dataset {:.2f}".format(reg_under_10*100/total_reg))
print("% of registers below $10k considering the original dataset {:.2f}".format(reg_under_10*100/registers_orig))

print("Total registers below $100k: {:,}".format(reg_under_100))
print("% of registers below $100k considering the clean dataset {:.2f}".format(reg_under_100*100/total_reg))
print("% of registers below $100k considering the original dataset {:.2f}".format(reg_under_100*100/registers_orig))

Total registers below $10k: 11,522
% of registers below $10k considering the clean dataset 16.46
% of registers below $10k considering the original dataset 13.63
Total registers below $100k: 12,859
% of registers below $100k considering the clean dataset 18.37
% of registers below $100k considering the original dataset 15.21

In [19]:
clean_data.groupby(['BOROUGH'])['BOROUGH'].count()

BOROUGH
1    14439
2     7049
3    24047
4    18441
5     6011
Name: BOROUGH, dtype: int64